# Default local Kubeconfig
postgresql-testing-env.kubeconfig

# Generated/Prepared files
generated/k8s/*.d/
generated/k8s/*.kubeconfig
generated/cfg/*.d/
generated/helm-values/*.d/

# Default local dir for persistant volumes
persistentVolumesData/*.d/**

# IDE
.idea/
.vscode
*.swp
*.iml

# Runtime
nohup.out
